<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application accepted</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        body {
        background-color:#f2f2f2;
        font-family: Ariel,sans-serif;
        }
        .container {
        margin-top: 50px;
        }
        .jumbotron {
        background-color:#5cb85c;
        color: #fff;
        }
        .btn {
        backgrount-color: #4CAF50;
        color: #fff;
        border: none;
        }
        .btn:hover {
        background-color: #3e8e41;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1>The application has been submitted</h1>
        <p>congratulations!!</p>
        <button class="btn btn-lg" onclick="window.location.href='{% url 'bankapp:form' %}"></button>
    </div>
    <div class="logout-button">
         <a href="{% url 'bankapp:login' %}">Logout</a>
     </div>
</div>
</body>
</html>