<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit button Example</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
 <div class="container mt-5">
     <h1>Submit button Example</h1>
     <p>Click the button below</p>
     <button type="button" class="btn btn-primary" onclick="showMessage()">Submit</button>
 </div>
<script>
    function showMessage() {
    alert("Application accepted");
    }
</script>
</body>
</html>